@model List<webb.Models.kisibilgileri>
@{
    ViewData["Title"] = "Detay";
}

<h1>Detay</h1>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Ad</td>
            <td>Soyad</td>
            <td>TelNo</td>
            <td>Adres</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var @item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.TelNo</td>
            <td>@item.Adres</td>
            <td>
                <a asp-action="update" asp-controller="Home" asp-route-Id="@item.Id" class="btn btn-primary">Güncelle </a>
            </td>
            <td>
                <a asp-action="remove" asp-controller="Home" asp-route-Id="@item.Id" onclick="return confirm('Silinsin mi?')" class="btn btn-dark">Sil </a>
            </td>
            <td></td>
        </tr>
        }

    </tbody>
</table>